{% extends "common/base.html" %}
{% load humanize %}
{% block css %}
    <style>
        .blog .sidebar .tags ul a {
            color: #060606;
            border: 1px solid #d7e6ff;
        }

        .blog .sidebar .tags ul a:hover {
            color: #fff;
            border: 1px solid #fff;
            background: #106f47;
        }

        .single-job.style-two {
            padding: 26px 30px 22px;
            transition: all .4s ease-in-out;
        }

        body.template-color-2 .single-job.style-two:hover {
            border-color: #106f47;
            border-bottom: 1px solid #106f47;
        }

        .single-job.style-two:hover {
            z-index: 9;
        }

        .single-job {
            height: 100%;
            position: relative;
            display: flex;
            /*border: 1px solid #e5e5e5;*/
            box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
            background: #fff;
            overflow: hidden;
            transition: all .4s ease-in-out;
        }

        .single-job .info-top {
            position: relative;
            z-index: 9;
            display: flex;
            align-items: center;
            width: 100%;
        }

        .single-job .job-image {
            height: auto;
            border: none;
            width: 80px;
            min-width: 80px;
            text-align: center;
            margin: 0 30px 0 0;
            padding: 10px 0;
        }

        a, button, img, input, span {
            transition: all .3s ease 0s;
        }

        .single-job .job-image a img {
            max-width: 100%;
        }

        a, button, img, input, span {
            transition: all .3s ease 0s;
        }

        img {
            vertical-align: middle;
            border-style: none;
        }

        .single-job .job-info {
            width: 100%;
            margin: 0 0 0 auto;
            z-index: 9;
            display: block;
        }

        .single-job .job-info .job-info-inner {
            margin-right: 10px;
        }

        .single-job .job-info .job-info-inner .job-info-top {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
        }

        .single-job .job-info .job-info-inner .job-info-top .saveJob {
            display: flex;
            -webkit-box-align: start;
            align-items: flex-start;
            padding: 0;
            -webkit-box-ordinal-group: 3;
            order: 2;
        }

        .featured-label {
            display: inline-block;
            padding: 0 7px;
            font-weight: 700;
            font-size: 14px;
            color: #106f47;
            line-height: 20px;
            text-transform: capitalize;
            border-radius: 3px;
            position: relative;
            z-index: 0;
            background: #dcdcdc;
        }

        .job-type-label {
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            font-weight: 600;
            color: #069bff !important;
        }

        .mr-20 {
            margin-right: 20px !important;
        }

        .ml-20 {
            margin-left: 20px !important;
        }

        .single-job .job-info .job-info-inner .job-info-top .title-name h3 {
            font-weight: 700;
            font-size: 24px;
            line-height: 1.2;
            margin-bottom: 5px;
        }

        .single-job .job-info .job-info-inner .job-info-top .employer-name {
            margin-bottom: 12px;
        }

        .single-job .job-info .job-info-inner .job-info-top .employer-name a {
            display: inline-block;
            color: #666;
        }

        body.template-color-2 .single-job .job-info .job-info-inner .job-info-top .employer-name a:hover {
            color: #106f47;
        }

        .single-job .job-info .job-info-inner .job-meta-two {
            font-size: 14px;
            line-height: 24px;
            color: #898989;
            font-weight: 400;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            width: 100%;
        }

        .single-job .job-info .job-info-inner .job-meta-two div.field-salary_from {
            color: #232323;
            font-weight: 600;
        }

        .single-job .job-info .job-info-inner .job-meta-two div:first-child {
            padding-left: 0;
            margin-left: 0;
        }

        .single-job .job-info .job-info-inner .job-meta-two div {
            margin-right: 12px;
            position: relative;
        }

        .single-job .job-info .job-info-inner .job-meta-two div {
            padding-left: 12px;
            margin-right: 12px;
            position: relative;
        }

        .single-job .job-info .job-info-inner .job-meta-two i {
            margin-right: 5px;
        }

        .single-job .job-info .job-info-inner .job-skill-tag {
            margin-top: 15px;
        }

        .single-job .job-info .job-info-inner .job-skill-tag a {
            display: inline-block;
            font-size: 13px;
            font-weight: 500;
            padding: 0 10px;
            line-height: 24px;
            margin-top: 5px;
            margin-right: 5px;
            border-radius: 3px;
            background: #eff1f8;
            color: #999;
        }

        .single-job.style-two:hover {
            border-color: #106f47;
            border-bottom: 1px solid #106f47;
        }

        .blog .blog-pagination li.active, .blog .blog-pagination li:hover {
            background: #fff;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- ======= Section ======= -->
    <section id="blog" class="blog" style="margin-top: 90px">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-4">

                    <div class="sidebar">

                        <h3 style="color: #060606" class="sidebar-title color-1">Find a Startup</h3>
                        <div class="sidebar-item search-form">
                            <form action="">
                                <input type="text" class="form-control">
                                <button style="background-color: #106f47" type="submit"><i class="bi bi-search"></i>
                                </button>
                            </form>
                        </div><!-- End sidebar search form-->

                        <h3 style="color: #060606" class="sidebar-title">Category</h3>
                        <div class="sidebar-item categories">
                            <form action="" method="get">
                                <select class="nice-select wide form-control" name="q" onchange="this.form.submit()">
                                    <option value="0">____Search By Category____</option>
                                    <option value="accounting">Accounting</option>
                                    <option value="Broadcasting">Broadcasting</option>
                                    <option value="Customer Service">Customer Service</option>
                                    <option value="Digital Marketing">Digital Marketing</option>
                                    <option value="Finance & Accounting">Finance & Accounting</option>
                                    <option value="Game Mobile">Game Mobile</option>
                                    <option value="Graphics & Design">Graphics & Design</option>
                                    <option value="Human">Human Resources</option>
                                    <option value="Medical Doctor">Medical Doctor</option>
                                    <option value="Restaurant">Restaurant</option>
                                    <option value="Sale & Marketing">Sale & Marketing</option>
                                    <option value="Sale Assistance">Sale Assistance</option>
                                    <option value="sales & Analitycs">Science & Analitycs</option>
                                    <option value="Teachers">Teachers</option>
                                    <option value="Software">Web & Software Dev</option>
                                    <option value="Writing & Translations">Writing & Translations</option>
                                </select>
                            </form>
                        </div><!-- End sidebar categories-->

                        <h3 style="color: #060606" class="sidebar-title">Location</h3>
                        <div class="sidebar-item categories">
                            <form method="get" action="">
                                <select class="nice-select wide form-control" name="q" id=""
                                        onchange="this.form.submit()">
                                    <option value="0">____Search By Locations___</option>
                                    <option value="Dar es salaam">Dar es salaam</option>
                                    <option value="Arusha">Arusha</option>
                                    <option value="Tanga">Tanga</option>
                                    <option value="Kilimanjaro">Kilimanjaro</option>
                                    <option value="Pwani">Pwani</option>
                                    <option value="Dodoma">Dodoma</option>
                                    <option value="Singida">Singida</option>
                                    <option value="Tabora">Tabora</option>
                                    <option value="Mwanza">Mwanza</option>
                                    <option value="Shinyanga">Shinyanga</option>
                                    <option value="Mara">Mara</option>
                                    <option value="Rukwa">Rukwa</option>
                                    <option value="Kagera">Kagera</option>
                                    <option value="Katavi">Katavi</option>
                                    <option value="Njombe">Njombe</option>
                                    <option value="Iringa">Iringa</option>
                                    <option value="Mwanza">Mwanza</option>
                                    <option value="Mbeya">Mbeya</option>
                                    <option value="Morogoro">Morogoro</option>
                                </select>

                            </form>
                        </div>

                    </div><!-- End sidebar -->

                </div><!-- End blog sidebar -->

                <div class="col-lg-8 entries">
                    {% for data in startup %}
                        <div class="row mb-2">
                            <div class="col-lg-12 mb-20">
                                <!-- Single Job Start  -->
                                <div class="single-job style-two">
                                    <div class="info-top">
                                        <div class="job-image">
                                            <a href="{% url 'startup_details' data.id %}">
                                                {% if data.logo %}
                                                    <img style="border-radius: 50%" src="{{ data.logo.url }}"
                                                         alt="logo">
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="job-info">
                                            <div class="job-info-inner">
                                                <div class="job-info-top">
                                                    <div class="saveJob for-listing">
                                                        {% if data.get_opportunities.count < 1 %}
                                                            <span class="featured-label">{{ data.get_opportunities.count }} Opportunity</span>
                                                        {% else %}
                                                            <span class="featured-label">{{ data.get_opportunities.count }} Opportunities</span>
                                                        {% endif %}

                                                        {% if not request.user.is_authenticated and not request.user.profile.user_type == 'talent' %}
                                                            <form method="post" action="{% url 'mark' %}">
                                                                {% if request.user in data.marked.all %}
                                                                    <buttom class="save-job" id="mark"
                                                                            value="{{ data.id }}">
                                                                        <i id="mark{{ data.id }}"
                                                                           class="fas fa-bookmark"
                                                                           style="color: red;"></i>
                                                                    </buttom>
                                                                {% else %}
                                                                    <buttom class="save-job" id="mark"
                                                                            value="{{ data.id }}">
                                                                        <i id="mark{{ data.id }}"
                                                                           class="far fa-bookmark"
                                                                           style="color:red;"></i>
                                                                    </buttom>
                                                                {% endif %}
                                                            </form>
                                                        {% endif %}
                                                    </div>
                                                    <div class="title-name">
                                                        <h3 class="job-title">
                                                            <a style="color: #060606"
                                                               href="{% url 'startup_details' data.id %}">{{ data.title }}</a>
                                                        </h3>
                                                        <div class="employer-name">
                                                            <h4>
                                                                <a href="{% url 'startup_details' data.id %}">{{ data.name.capitalize }}</a>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="job-meta-two">
                                                    <div class="field-salary_from">
                                                        <p>{{ data.description|truncatechars:150 }}
                                                            <a class="text-dark"
                                                               href="{% url 'startup_details' data.id %}">More</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="field-map"><i
                                                        class="bi bi-pin-map-fill text-dark"
                                                        style="margin-right: 10px"></i>{{ data.location }}
                                                </div>
                                                {% if request.user.is_authenticated %}
                                                    <form class="mt-3" method="post" action="{% url 'follow' %}">
                                                        {% if request.user in data.followers.all %}
                                                            <button value="{{ data.id }}" id="follow"
                                                                    class="btn btn-warning btn-sm rounded-pill text-white font-weight-bold">
                                                                                <span id="follow{{ data.id }}"
                                                                                      class="text-dark">Following</span>
                                                            </button>
                                                        {% else %}
                                                            <button value="{{ data.id }}" id="follow"
                                                                    class="btn btn-warning btn-sm rounded-pill text-white font-weight-bold">
                                                                                <span id="follow{{ data.id }}"
                                                                                      class="text-white">Follow</span>
                                                            </button>
                                                        {% endif %}
                                                    </form>
                                                {% else %}
                                                    <button class="mt-3 follow btn btn-warning btn-sm rounded-pill text-white">
                                                        Follow
                                                    </button>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Job End -->
                            </div>


                        </div>

                        {#                        </article><!-- End blog entry -->#}
                        {% empty %}
                        <span style="font-size: 25px; margin-left: 40px;"
                              class="text-danger font-weight-bolder ml-5">No result for found</span>
                    {% endfor %}

                    <div class="blog-pagination">
                        <nav aria-label="Page navigation example">
                            {% if opps.has_other_pages %}
                                <ul class="pagination">
                                    {% if opps.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link text-dark"
                                               href="?page={{ opps.previous_page_number }}"
                                               aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled text-center"></li>
                                    {% endif %}

                                    {% for i in opps.paginator.page_range %}
                                        {% if opps.number == i %}
                                            <li class="page-item "><a
                                                    class="page-link  bg-warning text-dark"
                                                    href="?page={{ i }}">{{ i }}</a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link text-dark"
                                                                     href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if opps.has_next %}
                                        <li class="page-item">
                                            <a class="page-link text-dark"
                                               href="?page={{ opps.next_page_number }}" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled text-center"></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </nav>
                    </div>

                </div><!-- End blog entries list -->
            </div>

        </div>
    </section><!-- End Blog Section -->

{% endblock %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        function updateRangeInput(elem) {
            $(elem).next().val($(elem).val());
        }

        $(document).on('click', '#follow', function (e) {
            e.preventDefault();

            let pk = $(this).attr('value');

            $.ajax({
                type: 'POST',
                url: '{% url "follow" %}',
                data: {
                    'id': pk,
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },
                success: function (response) {
                    console.log(response)

                    // for toggling icon on list view
                    // $("#mark"+pk).toggleClass('far fa-bookmark fas fa-bookmark')
                    $('#follow' + pk).toggleClass('text-white text-dark')
                    $('#follow2' + pk).toggleClass('text-white text-dark')

                    //for toggling icon on grid view
                    // $("#mark2"+pk).toggleClass('far fa-bookmark fas fa-bookmark')

                    // for grid  view on to change text on successfull post
                    if ($('#follow' + pk).text() == 'Follow') {
                        $('#follow' + pk).text('Following')
                    } else {
                        $('#follow' + pk).text('Follow')
                    }

                    if ($('#follow2' + pk).text() == 'Follow') {
                        $('#follow2' + pk).text('Following')
                    } else {
                        $('#follow2' + pk).text('Follow')
                    }


                },
                error: function (rs, e) {
                    console.log(rs.responseText);
                }
            })
        })

        $('.follow').on('click', function () {
            swal({
                title: 'Your have to be a registered user to follow a startup',
                text: 'if you have an account login to follow this startup, else register first',
                icon: "info",
                buttons: false,
                timer: 5000,

            })
        })
    </script>
{% endblock %}
