{% load static %}
<script src="{% static 'assets/vendor/landing/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'assets/vendor/landing/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/landing/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/landing/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/landing/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/landing/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/landing/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/vendor/landing/js/main.js' %}"></script>

<!-- All jquery file included here -->
<script src="{% static 'assets/js/jquery-3.js' %}"></script>
<script src="{% static 'assets/js/jquery-migrate-3.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.js' %}"></script>

<!-- Use the minified version files listed below for better performance and remove the files listed above -->
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
