{% extends "common/base.html" %}
{% load static %}
{% load humanize %}
{% block css %}
    <style>
        ul {
            list-style: outside none none;
            margin: 0;
            padding: 0;
        }

        .job-meta-detail ul li {
            display: inline-block;
            margin-right: 10px;
            padding-right: 10px;
            position: relative;
            font-size: 14px;
            line-height: 1.9;
        }

        .job-meta-detail ul li .date {
            padding: 0 9px 0;
            border-radius: 2px;
            font-weight: 600;
            display: inline-block;
            line-height: 1.9;
        }

        .bi {
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
        }

        .common-sidebar-widget:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
        }

        .common-sidebar-widget {
            float: left;
            width: 100%;
        }

        .sidebar-job-share .job-share.candidate-action {
            text-align: right;
        }

        .sidebar-job-share .job-share.candidate-action > ul > li {
            padding-left: 0;
            margin-left: 0;
        }

        .sidebar-job-share .job-share.candidate-action > ul > li > a {
            display: inline-block;
            padding: 8px 12px;
            font-weight: 600;
            border-radius: 3px;
            border: 1px solid #106f47;
            width: auto;
        }

        .sidebar-job-share .job-share ul li a i {
            font-size: 16px;
            margin-right: 5px;
            line-height: 1;
            vertical-align: middle;
        }

        .social-share {
            position: absolute;
            top: 120%;
            left: 50%;
            opacity: 0;
            visibility: hidden;
            z-index: 5;
            transform: translateX(-50%);
            text-align: center;
            transition: all .4s ease-in-out;
        }

        .sidebar-job-share .job-share ul li {
            color: #106f47;
            position: relative;
        }

        .social-share > li {
            display: inline-block !important;
            margin-right: 12px;
            padding-left: 0 !important;
            margin-left: 0 !important;
        }

        .bg_color--5 {
            background: #f2f5fc;
        }

        .no-gutters {
            margin-left: 0;
            margin-right: 0;
        }

        .no-gutters > .col, .no-gutters > [class*=col-] {
            padding-right: 0;
            padding-left: 0;
            margin: 0 !important;
        }

        .single-meta-field {
            display: block;
            padding: 30px 40px;
            background-color: #fff;
            border: 1px solid #e9e9e9;
            height: 100%;
        }

        .single-meta-field .field-label {
            display: flex;
            -webkit-box-align: start;
            align-items: flex-start;
        }

        .single-meta-field .field-label i {
            font-size: 30px;
            width: 50px;
            transform: translateY(10px);
        }

        .single-meta-field .field-label span {
            font-size: 14px;
            line-height: 24px;
            font-weight: 600;
            text-transform: capitalize;
            color: #333;
            -webkit-box-flex: 1;
            flex: 1;
        }

        .single-meta-field .field-value {
            display: block;
            text-transform: capitalize;
            line-height: 19px;
            padding-left: 50px;
        }

        .common-sidebar-widget.sidebar-three {
            border-bottom: 0;
            margin-bottom: 30px;
            padding-bottom: 25px;
        }

        .common-sidebar-widget {
            float: left;
            width: 100%;
        }

        .sidebar-job-apply .action-button {
            text-align: center;
        }

        body.template-color-2 a.ht-btn, body.template-color-2 button.ht-btn {
            background-color: #106f47;
        }

        a.ht-btn, button.ht-btn {
            width: 100%;
            height: 50px;
            line-height: 50px;
            border-radius: 3px;
            border: none;
            box-shadow: none;
            font-size: 15px;
            color: #fff;
            font-weight: 700;
            padding: 0 10px;
            background-color: #106f47;
            -webkit-transition: all .3s ease 0s;
            -o-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
        }

        .sidebar-title {
            font-size: 20px;
            line-height: 30px;
            font-weight: 700;
            margin-bottom: 25px;
        }

        .single-job.style-two {
            padding: 26px 30px 22px;
            -webkit-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }

        .single-job {
            height: 100%;
            padding: 25px;
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            border: 1px solid #e5e5e5;
            background: #fff;
            overflow: hidden;
            -webkit-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
        }

        .single-job .info-top {
            position: relative;
            z-index: 9;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            width: 100%;
        }

        .single-job .job-info {
            width: 100%;
            margin: 0 0 0 auto;
            z-index: 9;
            display: block;
        }

        .single-job .job-info .job-info-inner {
            margin-right: 10px;
        }

        .single-job .job-info .job-info-inner .job-info-top {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
        }

        .single-job .job-info .job-info-inner .job-info-top .title-name h5 {
            font-size: 16px;
            line-height: 26px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        .single-job .job-info .job-info-inner .job-meta-two {
            font-size: 14px;
            line-height: 24px;
            color: #898989;
            font-weight: 400;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            width: 100%;
        }

        .single-job .job-info .job-info-inner .job-meta-two div.field-salary_from {
            color: #ff2626;
            font-weight: 600;
        }

        .single-job .job-info .job-info-inner .job-meta-two div:first-child {
            padding-left: 0;
            margin-left: 0;
        }

        .single-job .job-info .job-info-inner .job-meta-two div {
            margin-right: 12px;
            position: relative;
        }

        .single-job .job-info .job-info-inner .job-meta-two i {
            margin-right: 5px;
        }

        .single-job .job-info .job-info-inner .job-meta-two div {
            padding-left: 12px;
            margin-right: 12px;
            position: relative;
        }

        .single-job .job-info .job-info-inner .job-meta-two i {
            margin-right: 5px;
        }

        .sidbar-image a {
            display: block;
        }

        .sidbar-image a img {
            width: 100%;
        }

        img {
            max-width: 100%;
        }

        .pr-55 {
            padding-right: 55px !important;
        }

        .mb-60 {
            margin-bottom: 60px !important;
        }

        .job-detail-content .field-descriptions p {
            margin-bottom: 20px;
        }

        .job-detail-content .field-descriptions h3 {
            font-size: 24px;
            line-height: 36px;
            font-weight: 700;
            margin-top: 60px;
            margin-bottom: 25px;
        }

        .job-detail-content .field-descriptions ul {
            list-style: inherit;
            list-style-position: inside;
            margin-bottom: 20px;
        }

        .mb-4, .my-4 {
            margin-bottom: 1.5rem !important;
        }

        body.template-color-2 a.ht-btn, body.template-color-2 button.ht-btn {
            background-color: #106f47;
        }

        .section-title-four h3 {
            font-size: 34px;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 30px;
        }

        .slick-slider {
            box-sizing: border-box;
            user-select: none;
            touch-action: pan-y;
            -webkit-tap-highlight-color: transparent;
        }

        .slick-list, .slick-slider, .slick-track {
            position: relative;
            display: block;
        }

        .slick-slider .slick-list, .slick-slider .slick-track {
            transform: translate3d(0, 0, 0);
        }

        .slick-list {
            overflow: hidden;
            margin: 0;
            padding: 0;
        }

        .slick-list, .slick-slider, .slick-track {
            position: relative;
            display: block;
        }

        .slick-track {
            top: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
        }

        .slick-initialized .slick-slide {
            display: block;
        }

        .single-job-grid-two {
            position: relative;
            height: 100%;
            padding: 25px 30px 30px;
            background-color: #fff;
            border: 1px solid #e2e4ea;
            overflow: hidden;
        }

        .single-job-grid-two .saveJob-grid {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .job-type-label.remote {
            color: #ba00ff !important;
        }

        .job-type-label {
            font-size: 14px;
            line-height: 16px;
            text-transform: uppercase;
            font-weight: 600;
            color: #069bff !important;
        }

        .single-job-grid-two .saveJob-grid .save-job {
            height: 36px;
            line-height: 34px;
            padding: 0 20px;
            border: 1px solid #106f47;
            font-size: 14px;
            font-weight: 600;
            border-radius: 4px;
        }

        .save-job {
            display: inline-block;
            width: auto;
            text-align: center;
            outline: 0;
            background: 0 0;
        }

        .single-job-grid-two .saveJob-grid .save-job i {
            font-size: 18px;
            position: relative;
            top: 2px;
            margin-right: 4px;
        }

        .single-job-grid-two .job-image {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .slick-slide img {
            display: block;
        }

        .featured-label {
            display: inline-block;
            padding: 0 7px;
            font-weight: 700;
            font-size: 14px;
            color: #1dae0e;
            line-height: 20px;
            text-transform: capitalize;
            border-radius: 3px;
            position: relative;
            z-index: 0;
            background: #d0f7ca;
        }

        .single-job-grid-two .job-info .job-info-top .title-name h3 {
            font-weight: 700;
            font-size: 24px;
            line-height: 1.2;
            margin-bottom: 5px;
        }

        .single-job-grid-two .job-info .job-info-top .employer-name {
            margin-bottom: 12px;
        }

        .single-job-grid-two .job-info .job-info-top .employer-name a {
            display: inline-block;
            color: #666;
        }

        .single-job-grid-two .job-info .job-meta-two {
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            display: block;
            width: 100%;
            margin-bottom: 15px;
        }

        .single-job-grid-two .job-info .job-meta-two div.field-salary_from {
            color: #ff2626;
        }

        .single-job-grid-two .job-info .job-meta-two div {
            position: relative;
            font-weight: 600;
        }

        .single-job-grid-two .job-info .job-meta-two i {
            margin-right: 5px;
        }

        .single-job-grid-two .job-info .job-meta-two div {
            position: relative;
            font-weight: 600;
            color: #333;
        }

        .single-job-grid-two .job-info .job-meta-two i {
            margin-right: 5px;
        }

        .single-job-grid-two .job-info .job-skill-tag {
            margin-top: 15px;
        }

        .single-job-grid-two .job-info .job-skill-tag a {
            display: inline-block;
            font-size: 13px;
            font-weight: 500;
            padding: 0 10px;
            line-height: 24px;
            margin-top: 5px;
            margin-right: 5px;
            border-radius: 3px;
            background: #eff1f8;
            color: #999;
        }
    </style>
{% endblock %}
{% block content %}
    <section id="blog" class="blog" style="margin-top: 90px">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-8">
                    <div class="page-breadcrumb-content">
                        <h1>{{ data.title }}</h1>
                    </div>
                    <div class="job-meta-detail">
                        <ul>
                            <li class="posted">
                                <i class="bi bi-clock"></i>
                                <span class="text">Posted: </span>
                                <span class="time">{{ data.published }} </span>
                            </li>
                            <li class="expries">
                                <i class="bi bi-hourglass"></i>
                                <span class="text">Expries in: </span>
                                <span class="date bg-warning"> {{ data.deadline|date:"M d, Y" }} </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar-wrapper-three">
                        <div class="common-sidebar-widget sidebar-three mb-0 pb-0">
                            <div class="sidebar-job-share">
                                <div class="job-share candidate-action">
                                    <ul>
                                        {% if request.user.is_authenticated and request.user.profile.user_type == 'talent' %}
                                            <li class="bg-warning">
                                                <a onMouseOver="this.style.background='#106f47'" class="text-dark"
                                                   style="border-color: #106f47;" href="#">
                                                    <form action="{% url 'mark' %}" method="post">
                                                        {% csrf_token %}
                                                        {% if request.user in data.marked.all %}
                                                            <buttom type=submit id="mark"
                                                                    class="save-job save{{ data.id }} bg-transparent"
                                                                    value="{{ data.id }}">
                                                                <i id="mark2{{ data.id }}"
                                                                   class="fas fa-bookmark text-dark"></i>
                                                                <span class="save2{{ data.id }} text-dark text-dark ">Saved</span>
                                                            </buttom>
                                                        {% else %}
                                                            <buttom type=submit id="mark"
                                                                    class="save-job save{{ data.id }} bg-transparent "
                                                                    value="{{ data.id }}">
                                                                <i id="mark2{{ data.id }}"
                                                                   class="far fa-bookmark text-dark"></i>
                                                                <span class="save2{{ data.id }} text-dark "
                                                                      style="font-size: 15px;">Save</span>
                                                            </buttom>
                                                        {% endif %}
                                                    </form>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {#                                        {% include 'includes/social_share.html' %}#}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Job Meta Detail Box Section Start -->
            <div class="job-meta-detail-box pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50" style="margin-top: 50px">
                <div class="row no-gutters">
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Meta Field Start -->
                        <div class="single-meta-field">
                            <div class="field-label">
                                <i class="bi bi-pin-map text-warning "></i>
                                <span>Work Location: </span>
                            </div>
                            <div class="field-value">{{ data.location }}</div>
                        </div>
                        <!-- Single Meta Field Start -->
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <!-- Single Meta Field Start -->
                        <div class="single-meta-field">
                            <div class="field-label">
                                <i class="bi bi-layers text-warning "></i>
                                <span>Salary </span>
                            </div>
                            <div class="field-value salary">{{ data.salary_range }} / month</div>
                        </div>
                        <!-- Single Meta Field Start -->
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <!-- Single Meta Field Start -->
                        <div class="single-meta-field">
                            <div class="field-label">
                                <i class="bi bi-briefcase text-warning "></i>
                                <span>Type </span>
                            </div>
                            <div class="field-value"><a class="fw-600 text-warning" href="#">{{ data.category }}</a>
                            </div>
                        </div>
                        <!-- Single Meta Field Start -->
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <!-- Single Meta Field Start -->
                        <div class="single-meta-field">
                            <div class="field-label">
                                <i class="bi bi-tag text-warning "></i>
                                <span>Sector </span>
                            </div>
                            <div class="field-value"><a class="text-warning" href="#">{{ data.sector }}</a></div>
                        </div>
                        <!-- Single Meta Field Start -->
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <!-- Single Meta Field Start -->
                        <div class="single-meta-field">
                            <div class="field-label">
                                <i class="bi bi-mortarboard text-warning"></i>
                                <span>Experience </span>
                            </div>
                            <div class="field-value"><a class="text-warning" href="#"> {{ data.experience }}
                                years</a></div>
                        </div>
                        <!-- Single Meta Field Start -->
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <!-- Single Meta Field Start -->
                        <div class="single-meta-field">
                            <div class="field-label">
                                <i class="bi bi-hourglass text-warning"></i>
                                <span>Deadline </span>
                            </div>
                            <div class="field-value"><a class="text-warning" href="#">{{ data.deadline }}</a></div>
                        </div>
                        <!-- Single Meta Field Start -->
                    </div>

                </div>
            </div>
            <!-- Job Meta Detail Box Section End -->

            <!-- Job Details Section Start -->
            <div class="job-details-section section pt-120 pt-lg-100 pt-md-80 pt-sm-50 pt-xs-40 pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50"
                 style="margin-top: 50px">

                <div class="row">

                    <div class="col-lg-4 order-lg-2 order-2 mt-sm-60 mt-xs-50">
                        <div id="noto">
                            <div class="text-center" id="alert"></div>
                        </div>
                        <div class="sidebar-wrapper-three">
                            <div class="common-sidebar-widget sidebar-three">
                                <div class="sidebar-job-apply">
                                    {% if request.user.is_authenticated %}
                                        <div class="action-button">
                                            {% if request.user.profile.user_type == 'talent' and request.user.talent_set.first.qualified and not matched %}
                                                <form method="post" id="form1">
                                                    {% csrf_token %}
                                                    <input type="hidden" id="opportunity" name="opportunity"
                                                           value="{{ data.id }}">
                                                    <input type="hidden" id="startup" name="startup"
                                                           value="{{ data.user.id }}">
                                                    <button id="submit" class="ht-btn text-center" href="#">Get
                                                        Matched
                                                        <i class="ml-10 mr-0 fa fa-paper-plane"></i>
                                                    </button>
                                                </form>
                                            {% elif request.user.profile.user_type == 'talent' and matched %}
                                                <button class="ht-btn text-center non-qualified" href="#">Already
                                                    Matched<i class="ml-10 mr-0 fa fa-paper-plane"></i></button>
                                            {% else %}
                                                <button class="ht-btn text-center submit" href="#">Get
                                                    Matched<i class="ml-10 mr-0 fa fa-paper-plane"></i></button>
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <button class="ht-btn text-center submit2" href="#">Get Matched
                                            <i
                                                    class="ml-10 mr-0 fa fa-paper-plane"></i></button>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="common-sidebar-widget sidebar-three">
                                <h2 class="sidebar-title">Recent Jobs By This Employer</h2>
                                <div class="sidebar-job">
                                    <div class="row">
                                        {% for data in opportunities %}
                                            <div class="col-lg-12">
                                                <!-- Single Job Start  -->
                                                <div class="single-job style-two">
                                                    <div class="info-top">
                                                        <div class="job-info">
                                                            <div class="job-info-inner">
                                                                <div class="job-info-top">
                                                                    <div class="title-name">
                                                                        <h5 class="job-title">
                                                                            <a id="url"
                                                                               data-url="{% url 'opp_details' data.id %}"
                                                                               href="{% url 'opp_details' data.id %}">{{ data.title }}</a>
                                                                        </h5>
                                                                    </div>
                                                                </div>
                                                                <div class="job-meta-two flex-wrap">
                                                                    <div class="field-salary_from">
                                                                        <i class="gj-icon gj-icon-money"></i>
                                                                        {{ data.salary_range }}/ month
                                                                    </div>
                                                                    <div class="field-datetime"><i
                                                                            class="bi bi-clock"></i>{{ data.published }}
                                                                    </div>
                                                                    <div class="field-map"><i
                                                                            class="bi bi-pin-map"></i>{{ data.location }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Single Job End -->
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                            <div class="common-sidebar-widget sidebar-three">
                                <div class="sidbar-image">
                                    <a href="#">
                                        <img src="{% static 'assets/images/banner/ads-two.jpg' %}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 order-lg-1 order-1 pr-55 pr-md-15 pr-sm-15 pr-xs-15">

                        <div class="job-detail-content">
                            <div class="field-descriptions mb-60 mb-sm-30 mb-xs-30">
                                <p>{{ data.description|safe }}</p>

                                <h3>Skills Required</h3>

                                <ul>
                                    {{ data.skills_required|safe }}
                                </ul>

                                <h3>Duties and Responsibilities</h3>

                                <ul>
                                    {{ data.duties_and_responsibilities|safe }}
                                </ul>

                                <p><strong>How to Get Match to this Job?</strong></p>

                                <ul>
                                    <li>Click a Get Matched button below</li>
                                    <li>Then visit your dashboard for updates</li>
                                </ul>
                            </div>
                            {% if request.user.is_authenticated %}
                                <div class="job-apply mb-4">
                                    {% if request.user.profile.user_type == 'talent' and request.user.talent_set.first.qualified and not matched %}
                                        <form method="post" id="form">
                                            {% csrf_token %}
                                            <input type="hidden" id="opportunity" name="opportunity"
                                                   value="{{ data.id }}">
                                            <input type="hidden" id="startup" name="startup"
                                                   value="{{ data.user.id }}">
                                            <button id="submit" class="ht-btn text-center" href="#">Get Matched <i
                                                    class="ml-10 mr-0 fa fa-paper-plane"></i></button>
                                        </form>
                                    {% elif request.user.profile.user_type == 'talent' and request.user.talent_set.first.qualified and matched %}
                                        <button class="ht-btn text-center non-qualified" href="#">Already Matched<i
                                                class="ml-10 mr-0 fa fa-paper-plane"></i></button>
                                    {% else %}
                                        <button class="ht-btn text-center submit" href="#">Get Matched<i
                                                class="ml-10 mr-0 fa fa-paper-plane"></i></button>
                                    {% endif %}
                                </div>
                            {% else %}
                                <button class="ht-btn text-center submit2" href="#">Get Matched<i
                                        class="ml-10 mr-0 fa fa-paper-plane"></i></button>
                            {% endif %}
                            <div class="text-center" id="alert2">
                            </div>

                        </div>

                    </div>
                </div>
                <!-- Job Details Section End -->

                <!-- Job Grid Section Start -->
                <div style="margin-top: 50px"
                     class="job-grid-section pt-120 pt-lg-100 pt-md-80 pt-sm-60 pt-xs-50 pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50">
                    {#                    <div class="container">#}
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title-four mb-40">
                                <h3>Related Jobs</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row job-grid-slider">
                        {% for data in all %}
                            <div class="col-md-4">
                                <!-- Single Job Start  -->
                                <div class="single-job-grid-two">
                                    <div class="saveJob-grid">
                                        <a class="job-type-label remote"
                                           href="{% url "opp_details" data.id %}">{{ data.category }}</a>
                                        {% if request.user in data.marked.all %}
                                            <a class="save-job text-danger">
                                                <i class="fas fa-bookmark text-danger"></i>Saved </a>
                                        {% else %}
                                            <a class="save-job text-danger">
                                                <i class="far fa-bookmark text-danger"></i>Save </a>
                                        {% endif %}
                                    </div>
                                    <div class="job-image">
                                        <a href="{% url "opp_details" data.id %}">
                                            {% if data.logo %}
                                                <img style=" height: 70px;" src="{{ data.logo.url }}" alt="">
                                            {% endif %}
                                        </a>
                                        <span class="featured-label for-grid">featured</span>
                                    </div>
                                    <div class="job-info">
                                        <div class="job-info-top">
                                            <div class="title-name">
                                                <h3 class="job-title">
                                                    <a href="{% url "opp_details" data.id %}">{{ data.title }}</a>
                                                </h3>
                                                <div class="employer-name">
                                                    <a href="{% url "opp_details" data.id %}">{{ data.startup_name }}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="job-meta-two">
                                            <div class="field-salary_from">
                                                <i class="gj-icon gj-icon-money"></i>
                                                {{ data.salary_range }} / month
                                            </div>
                                            <div class="field-datetime"><i
                                                    class="bi bi-clock"></i>{{ data.published }}</div>
                                            <div class="field-map"><i
                                                    class="bi bi-pin-map"></i>{{ data.location }}</div>
                                        </div>
                                        <div class="job-skill-tag">
                                            <a href="#">Android</a>
                                            <a href="#">app</a>
                                            <a href="#">ReactJs</a>
                                            <a href="#">Ruby</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Job End -->
                            </div>
                        {% endfor %}

                    </div>
                    {#                    </div>#}
                </div>
                <!-- Job Grid Section End -->

                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script>

                    function match() {
                        console.log('working fine')
                        console.log($('#opp').val())
                        $.ajax({
                            type: 'POST',
                            url: '{% url "add_match" %}',
                            data: {
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                                the_startup: $('#startup').val(),
                                the_opp: $('#opportunity').val()
                            },

                            success: function (json) {
                                console.log(json)
                                console.log('success')
                                if (json.result == 'You have already matched this opportunity.') {
                                    swal({
                                        title: json.result,
                                        text: 'You can not match an opportunity twice',
                                        icon: "warning",
                                        buttons: false,
                                        timer: 3000,
                                    })
                                } else if (json.result == 'Match submited') {
                                    swal({
                                        icon: 'success',
                                        title: 'Success',
                                        text: 'You just got matched to an opportunity',
                                        buttons: false,
                                        timer: 3000,
                                    });
                                }

                                // $('#alert').html("<div class='alert alert-success alert-dismissible fade show mt-3 ' data-alert><Strong></strong> "+json.result+
                                // " <a href='#' class='close' data-dismiss='alert' aria-label=Close'>&times;</a></div>");
                                // $('#alert2').html("<div class='alert alert-success alert-dismissible fade show mt-3 ' data-alert><Strong></strong> "+json.result+
                                // " <a href='#' class='close' data-dismiss='alert' aria-label=Close'>&times;</a></div>");
                            }
                        });

                    }

                    $('#form').on('submit', function (event) {
                        event.preventDefault();
                        console.log('Works too on submit');
                        match();
                    });
                    $('#form1').on('submit', function (event) {
                        event.preventDefault();
                        console.log('Works too on submit form1');
                        match();
                    });


                    $('.submit').on('click', function () {
                        swal({
                            title: 'Your are registered as start-up',
                            text: 'You have to be a talent to get matched ',
                            icon: "info",
                            buttons: false,
                            timer: 5000,

                        })
                    })
                    $('.non-qualified').on('click', function () {
                        swal({
                            title: 'Info',
                            text: 'Complete quizzes to get matched as a talent',
                            icon: "info",
                            buttons: false,
                            timer: 5000,
                            showCancelButton: true
                        })
                    })

                    $('.submit2').on('click', function () {
                        swal({
                            title: 'Your have to be a registered user to get matched',
                            text: 'if you have a talent account login to get matched to this opportunity, else register first',
                            icon: "info",
                            buttons: true,
                            timer: 5000,

                        })
                    })

                    //below is the script for bookmark button ajax call

                    $(document).on('click', '#mark', function (e) {
                        e.preventDefault();

                        let pk = $(this).attr('value');

                        $.ajax({
                            type: 'POST',
                            url: '{% url "mark" %}',
                            data: {
                                'id': pk,
                                'csrfmiddlewaretoken': '{{csrf_token}}'
                            },
                            success: function (response) {
                                console.log(response)
                                // for toggling icon on list view
                                $("#mark" + pk).toggleClass('far fa-bookmark fas fa-bookmark')
                                //for toggling icon on grid view
                                $("#mark2" + pk).toggleClass('far fa-bookmark fas fa-bookmark')

                                // for grid  view on to change text on successfull post
                                if ($('.save2' + pk).text() == 'Save') {
                                    $('.save2' + pk).text('Saved')
                                } else {
                                    $('.save2' + pk).text('Save')
                                }

                            },
                            error: function (rs, e) {
                                console.log(rs.responseText);
                            }
                        })
                    })

                </script>

            </div>
        </div>
    </section>
{% endblock %}

{% block js %}

{% endblock %}
